In [1]:
import numpy as np
import pandas as pd

In [171]:
df1 = pd.read_csv('company.csv')
df2 = pd.read_csv('company_data.csv')

In [3]:
df1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [4]:
df2.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [172]:
#åˆ é™¤df2ä¸­ç©ºå€¼åŠè´Ÿå€¼
df2.loc[df2['æ”¶å…¥é¢']<0,'æ”¶å…¥é¢'] = np.nan
df2.dropna(inplace=True)

# å°†df2ä¸­çš„è¯åˆ¸ä»£ç è¡¥0è‡³å…­ä½ï¼Œå¹¶åœ¨æœ€å‰é¢åŠ ä¸Š#
df2['è¯åˆ¸ä»£ç '] = df2['è¯åˆ¸ä»£ç '].map(lambda x:'#' + str(x).zfill(6))

# ä¿ç•™df2ä¸­æ—¥æœŸçš„å‰å››ä½ï¼Œå¹¶å°†å®ƒè½¬ä¸ºintæ ¼å¼
df2['æ—¥æœŸ'] = df2['æ—¥æœŸ'].str[0:4].astype('int')
# è½¬æ¢ä¹Ÿå¯ä»¥ç”¨ df2['æ—¥æœŸ'] = df2['æ—¥æœŸ'].str[0:4].apply(lambda x:int(x))

In [156]:
df2.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #000001  2008     1  1.084218e+10
1  #000001  2008     2  1.259789e+10
2  #000001  2008     3  1.451312e+10
3  #000001  2008     4  1.063843e+09
4  #000001  2008     5  8.513880e+08

In [7]:
df1.info()  # æ£€æŸ¥df1å’Œdf2çš„æ ¼å¼æ˜¯å¦ç›¸åŒï¼Œåç»­è¿›è¡Œè¿æ¥

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è¯åˆ¸ä»£ç     1048 non-null   object
 1   æ—¥æœŸ      1048 non-null   int64
dtypes: int64(1), object(1)
memory usage: 16.5+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 940667 entries, 0 to 964021
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   è¯åˆ¸ä»£ç     940667 non-null  object
 1   æ—¥æœŸ      940667 non-null  int64
 2   æ”¶å…¥ç±»å‹    940667 non-null  int64
 3   æ”¶å…¥é¢     940667 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 35.9+ MB

In [179]:
# å®šä¹‰entropyå‡½æ•°è®¡ç®—
def entropy(x):
    return -(x['p']*np.log2(x['p'] + 1e-5)).sum()

# è®¡ç®—æ”¶å…¥ç†µ
df_entropy = df1.merge(df2, on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'], how='left')
df_entropy['p'] = df_entropy.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].apply(lambda x:x/x.sum())
res = df_entropy.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ']).apply(entropy).reset_index()
res.columns = ['è¯åˆ¸ä»£ç ','æ—¥æœŸ','æ”¶å…¥é¢']

In [180]:
df1['æ”¶å…¥ç†µæŒ‡æ ‡'] = res['æ”¶å…¥é¢']

In [181]:
df1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ     æ”¶å…¥ç†µæŒ‡æ ‡
0  #000007  2014  4.429351
1  #000403  2015  4.025647
2  #000408  2016  4.065978
3  #000408  2017 -0.000000
4  #000426  2015  4.448961

In [177]:
res.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ         0
0  #000007  2014  4.429351
1  #000403  2015  4.025647
2  #000408  2016  4.065978
3  #000408  2017 -0.000000
4  #000426  2015  4.448961

## ç»ƒä¹ äºŒ

In [182]:
team_csv = pd.read_excel('ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨Pandas.xls')

In [183]:
# æ‰€åœ¨ç¾¤æ— ç”¨ï¼Œåˆ é™¤
team_csv.drop(columns='æ‰€åœ¨ç¾¤', inplace=True)
team_csv.head()

,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,é˜Ÿå‘˜4 ç¼–å·,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,45.0,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,19.0,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [185]:
# ä¸ºäº†è¿›è¡Œé•¿å®½è¡¨è½¬æ¢ï¼Œéœ€è¦å…ˆä¿®æ”¹åˆ—å
# å› ä¸ºä¹‹åâ€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œè¿™é‡Œå¹²è„†æŠŠé˜Ÿé•¿åˆ—çš„åç§°åç¼€å…¨æ”¹ä¸º1ï¼Œçœå»ä¹‹åçš„è½¬æ¢
# è¿™é‡Œä¸çŸ¥é“æ€ä¹ˆä¿®æ”¹é˜Ÿå‘˜çš„åˆ—åï¼Œé‚£åªèƒ½ç”¨ç¬¨åŠæ³•äº†
team_csv.columns = ['é˜Ÿä¼åç§°','ç¼–å·_1','æ˜µç§°_1','ç¼–å·_2','æ˜µç§°_2','ç¼–å·_3','æ˜µç§°_3','ç¼–å·_4','æ˜µç§°_4','ç¼–å·_5','æ˜µç§°_5','ç¼–å·_6','æ˜µç§°_6','ç¼–å·_7','æ˜µç§°_7','ç¼–å·_8','æ˜µç§°_8','ç¼–å·_9','æ˜µç§°_9','ç¼–å·_10','æ˜µç§°_10','ç¼–å·_11','æ˜µç§°_11']

In [211]:
team = pd.wide_to_long(team_csv.reset_index(),
                       stubnames = ['æ˜µç§°','ç¼–å·'],
                       i = ['index','é˜Ÿä¼åç§°'],
                       j = 'æ˜¯å¦é˜Ÿé•¿',
                       sep='_',
                       suffix='.+').dropna().reset_index().drop(columns='index')

In [212]:
# å¤„ç†ä¸€ä¸‹æ˜¯å¦é˜Ÿé•¿çš„æ•°æ®ï¼Œä»¥åŠå°†ç¼–å·è½¬æ¢ä¸ºint
team['ç¼–å·'] = team['ç¼–å·'].astype(int)
team.loc[team['æ˜¯å¦é˜Ÿé•¿']>1,'æ˜¯å¦é˜Ÿé•¿']=0

In [220]:
team.head(7)

     é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿        æ˜µç§°   ç¼–å·
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1    å±±æ«å¶çº·é£     5
1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        è”¡     6
2  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0      å®‰æ…•å¸Œ     7
3  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        ä¿¡ä»°    8
4  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0  biubiuğŸ™ˆğŸ™ˆ   20
5     ç†ŠçŒ«äºº     1       é±¼å‘²å‘²  175
6     ç†ŠçŒ«äºº     0    Heaven   44
7     ç†ŠçŒ«äºº     0        å•é’   37
8     ç†ŠçŒ«äºº     0      ä½™æŸ³æˆè«   50
9     ç†ŠçŒ«äºº     0     Kuroe   82

       é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿          æ˜µç§°   ç¼–å·
0    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1      å±±æ«å¶çº·é£     5
1    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0          è”¡     6
2    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        å®‰æ…•å¸Œ     7
3    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0          ä¿¡ä»°    8
4    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0    biubiuğŸ™ˆğŸ™ˆ   20
..      ...   ...         ...  ...
141    ä¸ƒæ˜Ÿè”ç›Ÿ     0       Daisy   63
142    ä¸ƒæ˜Ÿè”ç›Ÿ     0  One Better  131
143    ä¸ƒæ˜Ÿè”ç›Ÿ     0        rain  112
144     åº”å¦‚æ˜¯     1         æ€æ— é‚ª   54
145     åº”å¦‚æ˜¯     0    Justzer0   58

[146 rows x 4 columns]

## ä»»åŠ¡ä¸‰

In [151]:
county = pd.read_csv('county_population.csv')
vote = pd.read_csv('president_county_candidate.csv')

In [107]:
county.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [108]:
vote.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [152]:
#Q1 æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

# é¦–å…ˆè¿›è¡Œæ•°æ®æ ¼å¼è½¬æ¢ï¼Œåˆ†éš”çš„æ—¶å€™æ³¨æ„ä¸­é—´æœ‰ä¸€ä¸ªå‡ ä¹çœ‹ä¸è§çš„ hhhh
county[['county','state']]=county['US County'].str.split(', ',expand=True)
county['county'] = county['county'].str[1:]
county.drop(columns='US County',inplace=True)

In [153]:
vote_count = vote.groupby(['county','state'])['total_votes'].sum().reset_index()
# ä¸‹é¢è¿™ä¸€æ­¥å‘ç°ä¸¤ä¸ªè¡¨ä¹‹é—´çš„stateå’Œcountyå¹¶ä¸èƒ½å®Œå…¨å¯¹ä¸Šï¼Œè€Œä¸”è¿˜å­˜åœ¨æœ‰nanï¼Œå› æ­¤ç”¨innerè¿›è¡Œmerge
# res = vote_count.merge(county,on=['county','state'],how='left')
res = vote_count.merge(county,on=['county','state'],how='inner')

# è¶…å‡º1/2çš„éƒ¨åˆ†
res_over=res[res['total_votes']>(res['Population']/2)]
res_over.shape[0]

1434

In [113]:
county.head()

   Population          county    state
0       55869  Autauga County  Alabama
1      223234  Baldwin County  Alabama
2       24686  Barbour County  Alabama
3       22394     Bibb County  Alabama
4       57826   Blount County  Alabama

In [137]:
# Q2 æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°
vote_by_state = vote.pivot_table(index= 'state',
                                 columns = 'candidate',
                                 values = 'total_votes',
                                 aggfunc = 'sum')
vote_by_state.fillna(0,inplace=True)
vote_by_state.loc['sum'] = vote_by_state.sum(0)
vote_by_state_sorted = vote_by_state.sort_values(by='sum',axis=1,ascending=False)
vote_by_state_sorted.head()

candidate,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
state,,,,,,,,,,,,,,,,,,,,,
Alabama,849648.0,1441168.0,25176.0,0.0,7312.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alaska,153405.0,189892.0,8896.0,0.0,34210.0,318.0,0.0,0.0,1127.0,825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arizona,1672143.0,1661686.0,51465.0,0.0,2032.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arkansas,423932.0,760647.0,13133.0,2980.0,0.0,1321.0,1336.0,4099.0,2108.0,2141.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
California,11109764.0,6005961.0,187885.0,81025.0,80.0,60155.0,51036.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [150]:
# Q3 æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State
vote['pre'] = vote.groupby(['state','county'])['total_votes'].apply(lambda x:x/x.sum())
vote_by_county = vote.pivot(index= ['state','county'],
                            columns = 'candidate',
                            values = 'pre',
                            )
vote_by_county['BT'] = vote_by_county['Joe Biden'] - vote_by_county['Donald Trump']
BT_state = vote_by_county.groupby('state')['BT'].apply(lambda x:x.median()>0).reset_index()
BT_state[BT_state.BT == True]

                   state    BT
4             California  True
6            Connecticut  True
7               Delaware  True
8   District of Columbia  True
11                Hawaii  True
21         Massachusetts  True
30            New Jersey  True
39          Rhode Island  True
45               Vermont  True