In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_table('benchmark.txt', header = None)

In [44]:
df.head(20)

                                                    0
0                                               start
1              benchmark start :  2020/12/24 12:12:48
2                Number of GPUs on current device : 1
3                                 CUDA Version : 11.0
4                                Cudnn Version : 8005
5                      Device Name : GeForce RTX 3090
6   uname_result(system='Linux', node='gyh-X11DPi-...
7   scpufreq(current=1182.0009166666669, min=1000....
8                                       cpu_count: 36
9                      memory_available: 129118310400
10  Benchmarking Training float precision type mna...
11  mnasnet0_5  model average train time :  28.527...
12  Benchmarking Training float precision type mna...
13  mnasnet0_75  model average train time :  34.10...
14  Benchmarking Training float precision type mna...
15  mnasnet1_0  model average train time :  34.313...
16  Benchmarking Training float precision type mna...
17  mnasnet1_3  model average train time :  35.556...
18  Benchmarking Training float precision type res...
19  resnet18  model average train time :  18.66008...

In [159]:
# 使用正则提取数据
pattern1 = 'Benchmarking (\w+) (\w+) precision type (\w+)'
pattern2 = '(\w+)  model average (\w+) time :  (.+) ms'
bench_1 = df[0].str.extract(pattern1).rename(columns={0:'status_x',1:'precision',2:'model_x'}).dropna().reset_index(drop = True)
bench_2 = df[0].str.extract(pattern2).rename(columns={0:'model_y',1:'status_y',2:'time'}).dropna().reset_index(drop = True)

In [176]:
# 拼接两个dataframe，删除重复列及修改列名
bench = pd.concat([bench_1,bench_2], axis=1).drop(['model_y','status_y'],axis=1).rename(columns = {'status_x':'status','model_x':'model'})

In [177]:
# 修改时间精度
bench['time'] = bench['time'].astype('float').round(decimals = 3)

In [178]:
# 修改数据格式
bench.loc[bench['status']=='Training','status'] = 'Train'

In [179]:
# 长表转宽表
bench = bench.pivot(index='model',
                    columns=['status','precision'],values='time')
bench

status                Train Inference    Train Inference     Train Inference
precision             float     float     half      half    double    double
model
densenet121          93.357    15.637   88.976    19.772   417.207   144.111
densenet161         136.624    31.750  144.319    27.555  1290.287   511.177
densenet169         104.840    21.598  121.556    26.371   511.404   175.808
densenet201         129.334    26.169  118.940    33.394   654.365   223.960
mnasnet0_5           28.528     8.039   27.198     6.929    48.232    11.870
mnasnet0_75          34.105     6.246   28.787     6.010    70.395    18.154
mnasnet1_0           34.314     6.553   29.600     6.785    88.913    25.796
mnasnet1_3           35.557     6.871   35.175     6.457   118.835    35.082
mobilenet_v2         36.189     6.430   30.085     6.394    86.310    25.479
resnet101            76.060    22.428   70.932    15.819  1074.542   348.485
resnet152           108.635    31.020   98.445    22.397  1577.949   522.408
resnet18             18.660     5.595   16.520     4.399   241.416    83.730
resnet34             30.049     7.687   28.673     6.889   482.999   163.179
resnet50             44.945    13.427   47.880     8.884   563.288   183.908
resnext101_32x8d    141.875    43.747  139.554    22.479  2230.155   749.446
resnext50_32x4d      55.316    15.469   57.341    10.751   595.407   204.268
shufflenet_v2_x0_5   40.063     8.323   37.985     7.864    40.850    11.498
shufflenet_v2_x1_0   39.614     8.324   39.598     8.121    47.611    12.888
shufflenet_v2_x1_5   40.542     7.666   32.301     7.980    69.813    21.520
shufflenet_v2_x2_0   40.525     7.824   34.572     8.046   113.139    37.011
squeezenet1_0        14.563     4.980   14.871     4.140   120.210    43.124
squeezenet1_1        14.717     4.477   12.300     3.567    61.845    22.246
vgg11                27.552     9.738   21.659     6.016   965.084   354.535
vgg11_bn             31.127    10.608   24.922     6.449   964.433   329.626
vgg13                40.394    14.179   33.166     8.666  1408.131   478.774
vgg13_bn             47.123    15.221   39.458     9.409  1483.173   485.684
vgg16                48.840    16.767   40.050    10.508  1910.111   658.727
vgg16_bn             56.423    18.929   46.484    11.433  1942.776   672.466
vgg19                56.701    19.779   48.106    12.294  2459.697   915.710
vgg19_bn             64.083    21.604   55.610    13.319  2463.644   899.459
wide_resnet101_2    111.306    36.296  101.254    20.252  2940.320   982.664
wide_resnet50_2      64.756    21.209   58.925    10.985  1509.889   495.217

In [180]:
# 压缩多级列名
new_columns = bench.columns.map(lambda x :(x[0]+'_'+x[1]))
bench.columns = new_columns
bench.head()

,Train_float,Inference_float,Train_half,Inference_half,Train_double,Inference_double
model,,,,,,
densenet121,93.357,15.637,88.976,19.772,417.207,144.111
densenet161,136.624,31.750,144.319,27.555,1290.287,511.177
densenet169,104.840,21.598,121.556,26.371,511.404,175.808
densenet201,129.334,26.169,118.940,33.394,654.365,223.960
mnasnet0_5,28.528,8.039,27.198,6.929,48.232,11.870

In [181]:
# 调整数据
bench.index.name = None
bench = bench[['Train_half','Train_float','Train_double','Inference_half','Inference_float','Inference_double']]
bench.head()

,Train_half,Train_float,Train_double,Inference_half,Inference_float,Inference_double
densenet121,88.976,93.357,417.207,19.772,15.637,144.111
densenet161,144.319,136.624,1290.287,27.555,31.750,511.177
densenet169,121.556,104.840,511.404,26.371,21.598,175.808
densenet201,118.940,129.334,654.365,33.394,26.169,223.960
mnasnet0_5,27.198,28.528,48.232,6.929,8.039,11.870